$include /etc/inputrc
set editing-mode vi
$if mode=vi
set keymap vi-command
# these are for vi-command mode
"v":abort


set keymap vi-insert
# these are for vi-insert mode
"\C-k":backward-delete-char
"\C-h":backward-char
"\C-l":forward-char
"\C-n":reverse-search-history
"\C-y":forward-search-history

$endif

